@model List<Movie>

<form asp-action="Search" asp-controller="Home">
    <input type="text" name="search" placeholder="Search Movies by Title" />
    <input type="submit" value="Search" />
    <br />

</form>

<form asp-action="Index" asp-controller="Home">

    <select id="genre" name="sortMethod">
        <option style="display:none">All Genres</option>
        <option value="27">Horror</option>
        <option value="16">Animated</option>
        <option value="35">Comedy</option>
        <option value="18">Drama</option>
        <option value="12">Adventure</option>
        <option value="99">Documentary</option>
        <option value="53">Thriller</option>

    </select>

    <input type="submit" id="genre" name="sortMethod" value="Sort" />
    <br />
</form>


@foreach (Movie r in Model)
{
    string posterURL = "https://image.tmdb.org/t/p/original" + @r.poster_path;
    <a asp-action="ViewSingleMovie" asp-route-id="@r.id">

        <img src=" @posterURL" alt="No Img"  height="100" />
        <h3>@r.original_title</h3>
        <br />
    </a>
}
<form asp-action="Index" asp-controller="Home">

     

    <input type="button" name="pageNo" value="Next Page" />
</form>